.contacts {
  &__wrap {
    display: flex;
    align-items: flex-start;
  }
  &__info {
    margin-right: 2%;
    width: 23%;
  }
  &__block {
    padding: 30px 40px 40px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &-title {
      margin-bottom: 35px;
      font-size: 26px;
    }

    &-link {
      display: block;
      text-align: center;
    }
  }

  &__socials {
    &-link {
      width: 30px;
      height: 30px;
      fill: $main-icon-color;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &-form {
    width: 75%;
    &__textarea {
      height: 235px;
    }
  }
}