.experience {
  &__select {
    display: none;
  }

  &__slide {
    &r {
      display: flex;
      justify-content: space-between;

      &-dot {
        &s {
          width: 24%;
        }

        padding: 22px;
        text-align: right;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
        cursor: pointer;

        &_active {
          .experience {
            &__slider {
              &-dot {
                &-title, &-subtitle {
                  opacity: 1;
                }
              }
            }
          }
          opacity: 1;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &-subtitle, &-title {
          z-index: -1;
          position: relative;
          display: block;
          opacity: 0.3;
          transition: 0.2s;
        }

        &-subtitle {
          font-size: 14px;
          font-weight: 300;
        }

        &-title {
          font-size: 26px;
          font-weight: 700;
        }
      }
    }

    &s {
      position: relative;
      width: 74%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
      -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
      box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);
      box-sizing: border-box;
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    padding: 25px 20px 20px 30px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;

    &_active {
      position: initial;
      opacity: 1;
      z-index: 1;
      visibility: visible;
    }


    &-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 450px;
      height: 100%;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      object-fit: cover;
    }

    &-subtitle {
      font-size: 14px;
      opacity: 0.4;
    }

    &-title {
      margin-bottom: 25px;
      font-size: 22px;
      font-weight: 700;
    }

    &-text {
      position: relative;
      margin-bottom: 40px;
      width: 75%;
      font-weight: 300;
      opacity: 0.5;

      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -17px;
        width: 70%;
        height: 1px;
        background-color: $main-text-color;
        opacity: 0.2;
      }
    }

    &-button {
      display: block;
      width: fit-content;
    }
  }
}