.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 78px;
  backdrop-filter: blur(16px);
  background-color: $header-bg-color;
  box-shadow: 0px 4px 10px 0px $header-shadow-color;
  &__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__col {
    display: flex;
    align-items: center;
  }
  &__location {
    &s {
      &-separator {
        margin: 0 3px;
      }
    }
    letter-spacing: 1.5px;
    &_active {
      color: $action-color;
    }
  }
}