@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .burger-btn {
    display: none;
  }
}

//@media (min-width: 1400px) {
//  .container {
//    max-width: 1320px;
//  }
//}

@media (max-width: 1400px) {
  .promo {
    &__bg {
      left: -350px;
    }
  }
  .info-slider {
    width: 55%;
  }

  .gallery {
    &__slide {
      &r {
        width: 55%;
      }
    }
  }

  .contacts {
    &__info {
      width: 28%;
    }

    &-form {
      width: 70%;
    }
  }
}

@media (max-width: 1200px) {
  section {
    margin-bottom: 160px;
  }
  .promo {
    &__shadow {
      &-down {
        bottom: -30px;
      }
    }
    &__bg {
      left: -440px;
    }
    &__title {
      font-size: 56px;
    }

    &__subtitle {
      font-size: 22px;
    }

    &__button {
      font-size: 16px;
    }

    &__about {
      display: flex;
      justify-content: flex-end;
    }

    &__social {
      &s {
        left: 0;
      }
    }

    &__img {
      img {
        position: relative;
        right: -80px;
        width: 500px;
      }
    }
  }
  .gallery {
    &__slide {
      &r {
        max-height: 350px;
      }
    }
  }
  .experience {
    &__slide {
      &-text {
        width: 85%;
      }
      &-img {
        width: 400px;
      }
    }
  }
  .contacts {
    &__info {
      width: 33%;
    }

    &-form {
      width: 65%;
    }
  }
}

@media(max-width: 992px) {
  /* MIXIN title */
  .title {
    margin-bottom: 110px;

    &__text {
      &-behind {
        font-size: 170px;
      }
    }
  }
  /* ----------- */

  /* MIXIN card */
  .card {
    &__title {
      margin-left: 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
    }
    &__text {
      &_short {
        max-width: 100%;
        width: 100%;
      }
      text-align: center;
    }
  }
  /* ---------- */

  section {
    margin-bottom: 130px;
  }
  .nav-menu {
    display: none;
  }
  .promo {
    margin-bottom: 140px;

    &__bg {
      left: -900px;
    }

    &__wrap {
      flex-direction: column;
    }

    &__col {
      width: 100%;
    }

    &__descr {
      margin-top: 100px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 60px;
    }

    &__button {
      &s {
        margin-bottom: 50px;
      }
    }

    &__img {
      display: none;
    }

    &__blockquote {
      top: 90px;
    }

    &__social {
      &s {
        position: relative;
        top: -140px;
        display: flex;
        justify-content: center;
        width: 100%;
      }

      &:nth-child(-n+5) {
        margin: unset;
      }

      &:not(:last-child) {
        margin-right: 25px;
      }

      display: flex;
      justify-content: center;
      opacity: 0.7;

      span {
        display: none;
      }
    }
  }
  .portfolio {
    &__filter {
      margin-bottom: 60px;
    }
  }
  .info-slider {
    margin-bottom: 40px;
    width: 100%;
    text-align: center;

    &__controls {
      position: absolute;
      bottom: -6px;
      right: 20px;
      margin-right: 0;
      flex-direction: row;
    }

    &__arrow {
      opacity: 1;

      &_prev {
        transform: rotate(-90deg);

        &:hover {
          transform: rotate(-90deg);
        }
      }

      &_next {
        transform: rotate(90deg);

        &:hover {
          transform: rotate(90deg);
        }
      }
    }

    &__dot {
      &s {
        margin: 0 40px 0 40px;
        flex-direction: row;
        justify-content: center;
      }

      &:not(:last-child) {
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    &__slide {
      &-text {
        width: 100%;
      }

      &-grid {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-column {
        &:first-child {
          margin-right: 30px;
        }
      }

      &-technologies {
        &-list {
          justify-content: center;
        }
      }

      &-button {
        display: block;
      }
    }
  }
  .gallery {
    &__slide {
      &r {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        max-height: 350px;
        transform: unset;
        overflow: visible;
      }

      max-height: 350px;

      &:after {
        opacity: 1;
      }

      &-links {
        opacity: 1;
      }

      &-img {
        position: relative;
      }
    }
  }
  .advantages {
    &__card {
      width: 49%;

      &:not(:nth-last-child(-n+3)) {
        margin-bottom: unset;
      }

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 3%;
      }
    }
  }
  .steps {
    &__filter {
      margin-bottom: 60px;
    }

    &__block {
      width: 49%;

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 2%;
      }
    }
  }
  .experience {
    &__slide {
      &r {
        flex-direction: column;
        &-dot {
          &s {
            margin-bottom: 15px;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          width: 32%;
          text-align: center;
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
      &s {
        width: 100%;
      }

      text-align: center;
      &-title {
        position: relative;
        z-index: 1;
      }
      &-text {
        width: 100%;
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &-button {
        position: relative;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .contacts {
    &__wrap {
      flex-direction: column;
    }

    &__info {
      margin-right: 0;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__block {
      padding: 30px;
      width: 49%;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &-title {
        text-align: center;
      }

      &-link {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    &__socials {
      &-link {
        &s {
          display: flex;
          justify-content: center;
        }

        width: 35px;
        height: 35px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    &-form {
      width: 100%;
      &__textarea {
        height: 200px;
      }
    }
  }
  .popup {
    &-thanks {
      padding: 45px 25px;
      text-align: center;
      &__subtitle {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  /* MIXIN title */
  .title {
    margin-bottom: 100px;

    &__text {
      &-behind {
        font-size: 150px;
      }

      font-size: 38px;
    }
  }
  /* ----------- */

  .card {
    &__text {
      &_short {
        text-align: center;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  section {
    margin-bottom: 100px;
  }
  .header {
    &__menu {
      display: none;
    }
  }
  .gallery {
    &__slide {
      &r {
        max-height: 300px;
      }
    }
  }
  .experience {
    &__slide {
      &r {
        &-dot {
          padding: 15px;
          &-subtitle {
            font-size: 14px;
          }
          &-title {
            font-size: 22px;
          }
        }
      }
      &-img {
        display: none;
      }
    }
  }
  .contacts {
    &__info {
      flex-direction: column;
    }

    &__block {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  /* MIXIN title */
  .title {
    margin-bottom: 90px;

    &__text {
      &-behind {
        font-size: 130px;
      }

      font-size: 36px;
    }
  }
  /* ----------- */

  .form {
    &__input {
      &-wrap {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      &-label {
        left: 50%;
        transform: translate(-50%, -50%);
        &_focused {
          transform: translate(-50%, -10px);
        }
      }
    }
    &__textarea {

      height: 150px;
      &-label {
        left: 50%;
        transform: translate(-50%, -15px);
        &_focused {
          transform: translate(-50%, -35px);
        }
      }
    }
  }
  .card {
    &__title {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }
  .promo {
    margin-bottom: 50px;

    &__descr {
      margin-top: 80px;
    }

    &__title {
      font-size: 48px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
  .info-slider {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;

    &__controls {
      position: relative;
      bottom: unset;
      right: unset;
    }

    &__dot {
      &s {
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    &__slide {
      &s {
        margin-bottom: 10px;
      }

      &-button {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .gallery {
    &__slide {
      &r {
        max-height: 250px;
      }
    }
  }
  .advantages {
    &__card {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 4%;
      }
    }
  }
  .steps {
    &__block {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 3%;
      }
    }
  }
  .experience {
    &__select {
      display: block;
    }
    &__slider {
      &-dot {
        &s {
          display: none;
        }
      }
    }
  }
  .contacts {
    &-form {
      &__input {
        &s {
          flex-direction: column;
        }
      }
      &__textarea {
        height: 120px;
      }
    }
  }
  .popup {
    &-thanks {
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  .burger {
    &-menu {
      &__button {
        display: block;
      }
    }
  }
  .header {
    &__link {
      display: none;
    }
  }
  .promo {
    &__title {
      font-size: 46px;
    }
  }
}

@media (max-width: 420px) {
  .promo {
    &__descr {
      margin-top: 60px;
    }

    &__title {
      font-size: 38px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__blockquote {
      top: 90px;
    }

    &__social {
      &s {
        top: -170px;
        flex-wrap: wrap;
      }

      &:nth-child(-n+4) {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 380px) {
  .burger {
    &-menu {
      &__wrap {
        max-height: 70vh;
        overflow-y: auto;
      }
    }
  }
  .promo {
    &__button {
      &s {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &:first-child {
        margin-right: 0;
        margin-bottom: 15px;
      }

      width: 220px;
    }
  }
}

@media (max-width: 350px) {
  .promo {
    &__blockquote {
      top: 120px;
    }

    &__social {
      width: 32%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}