$main-text-color: #FFF;
$bg-color: #17171D;

$action-color: #FA00FF;
$accent-color: #CE0CFF;

$twitter-color: #1D9BF0;
$github-color: #000000;
$telegram-color: #219AD6;
$instagram-color: rgb(81, 91, 212) linear-gradient(-77deg, rgba(81, 91, 212, 1) 0%, rgba(129, 52, 175, 1) 13%, rgba(221, 42, 123, 1) 34%, rgba(254, 218, 112, 1) 71%, rgba(243, 132, 41, 1) 100%);
$vk-color: #0077FF;

$main-icon-color: #fff;

$header-bg-color: rgba(23, 23, 29, .85);
$header-shadow-color: rgba(255, 255, 255, 0.02);
$burger-menu-bg-color: rgba(23, 23, 29, .7);
$burger-menu-shadow-color: rgba(255, 255, 255, 0.15);

$shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, .15);