@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "_variables";

html, body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 400px;
  font-family: 'Roboto', sans-serif, -apple-system;
  line-height: 1.4;
  color: $main-text-color;
  background: $bg-color;
}

button, a {
  cursor: pointer;
}

a {
  color: $main-text-color;
  text-decoration: none;
}

.line-break {
  display: block;
}

.text {
  &_accent {
    color: $accent-color;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* MIXIN button */
.button {
  padding: 12px 30px;
  font-size: 18px;
  color: $main-text-color;
  border-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &_accent {
    background-color: $action-color;
  }

  &_transparent {
    background-color: transparent;
    border: 2px solid $main-text-color;
  }
}
/* ------------ */

/* MIXIN nav_menu */
.nav-menu {
  height: 100%;
  display: flex;
  align-items: center;

  a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
    font-weight: 300;

    &:not(:last-child) {
      margin-right: 28px;
    }

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      right: 50%;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $accent-color;
      transform: translate(-50%, -50%) rotateY(90deg);
      transition: .2s;
    }

    &:hover {
      &:after {
        transform: translate(-50%, -50%) rotateY(0)
      }
    }
  }

}
/* -------------- */

/* MIXIN  blockquote*/
.blockquote {
  position: relative;
  padding: 20px 15px 15px 25px;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  border-left: 2px solid white;

  &__quote {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: $main-text-color;

    &_top {
      left: 10px;
      top: -5px;
      transform: rotate(180deg)
    }

    &_bottom {
      right: 10px;
      bottom: -5px;
    }
  }
}
/* ---------------- */

/* MIXIN social_link */
.socials {
  &-link {
    &__label {
      position: absolute;
      top: 0;
      left: 20px;
      z-index: -1;
      padding: 0;
      width: 0;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: gray;
      -webkit-border-radius: 0 100px 100px 0;
      -moz-border-radius: 0 100px 100px 0;
      border-radius: 0 100px 100px 0;
      overflow: hidden;
    }
  }
}
/* ----------------- */

/* MIXIN title */
.title {
  position: relative;
  text-align: center;

  &__text {
    &-behind {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      font-size: 202px;
      font-weight: 900;
      line-height: 1;
      letter-spacing: 4px;
      transform: translate(-50%, -50%);
      opacity: 0.1;
    }

    font-size: 42px;
    font-weight: 700;
  }
}
/* ----------- */

/* MIXIN card */
.card {
  position: relative;
  overflow: hidden;
  padding: 17px 15px 15px 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, 0.15);
  &__heading {
    position: relative;
    padding-left: 85px;
    height: 60px;
  }
  &__counter {
    position: absolute;
    top: 17%;
    left: -28px;
    line-height: 0;
    font-size: 88px;
    font-weight: 700;
    opacity: 0.4;
  }
  &__title {
    position: absolute;
    bottom: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  &__text {
    padding-top: 17px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 300;
  }
}
/* ---------- */

@import "_header";
@import "_promo";
@import "_advantages";
@import "_media";