@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "_variables";

html, body {
  box-sizing: border-box!important;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, -apple-system;
  line-height: 1.4;
  color: $main-text-color;
  background: $bg-color;
}

section {
    margin-bottom: 190px;
}

picture {
  img {
    width: inherit;
    height: inherit;
    max-height: inherit;
    max-width: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    object-fit: inherit;
  }
}

button, a {
  cursor: pointer;
}

a {
  color: $main-text-color;
  text-decoration: none;
}

input, div, textarea {
  &:focus {
    outline: none;
  }
}

textarea {
  padding: 0;
}

.line-break {
  display: block;
}

.logo {
  width: 170px;
  height: 45px;
  fill: $main-icon-color;
}

.text {
  &_accent {
    color: $accent-color;
  }
  &_medium {
    font-weight: 500;
  }
  &_bold {
    font-weight: 700;
  }
  &_light {
    font-weight: 300;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.copyright {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.5;
}

/* MIXIN button */
.button {
  padding: 12px 30px;
  width: fit-content;
  font-size: 18px;
  color: $main-text-color;
  border-color: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &_accent {
    background-color: $action-color;
  }

  &_transparent {
    background-color: transparent;
    border: 1px solid $main-text-color;
    font-weight: 300;
    &-accent {
      border-color: $accent-color;
      border-width: 1px;
      font-weight: 300;
      font-size: 16px;
    }
  }
}
/* ------------ */

/* MIXIN nav_menu */
.nav-menu {
  height: 100%;
  display: flex;
  align-items: center;

  a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
    font-weight: 300;

    &:not(:last-child) {
      margin-right: 28px;
    }

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      right: 50%;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $accent-color;
      transform: translate(-50%, -50%) rotateY(90deg);
      transition: .2s;
    }

    &:hover {
      &:after {
        transform: translate(-50%, -50%) rotateY(0)
      }
    }
  }

}
/* -------------- */

/* MIXIN  blockquote*/
.blockquote {
  position: relative;
  padding: 20px 15px 15px 25px;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  border-left: 2px solid white;

  &__quote {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: $main-text-color;

    &_top {
      left: 10px;
      top: -5px;
      transform: rotate(180deg)
    }

    &_bottom {
      right: 10px;
      bottom: -5px;
    }
  }
}
/* ---------------- */

/* MIXIN social_link */
.socials {
  &-link {
    svg {
      width: inherit;
      height: inherit;
    }
    &:hover {
      span {
        left: 0;
        opacity: 1;
        max-width: 120px;
        padding: 0 20px 0 50px;
      }
    }
    &__label {
      position: absolute;
      top: 0;
      left: 20px;
      z-index: -1;
      padding: 0;
      max-width: 0;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: gray;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      opacity: 0;
      overflow: hidden;
      transition: .4s opacity, .3s padding, .3s left, .3s max-width;
    }
  }
}
/* ----------------- */

/* MIXIN title */
.title {
  position: relative;
  margin-bottom: 150px;
  text-align: center;

  &__text {
    &-behind {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      font-size: 202px;
      font-weight: 900;
      line-height: 1;
      letter-spacing: 4px;
      transform: translate(-50%, -50%);
      opacity: 0.1;
    }

    font-size: 42px;
    font-weight: 700;
  }
}
/* ----------- */

/* MIXIN card */
.card {
  position: relative;
  overflow: hidden;
  padding: 0 15px 15px 15px;
  background-color: $bg-color;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 0px rgba(255, 255, 255, 0.15);
  &__heading {
    padding: 20px 0;
    position: relative;
  }
  &__counter {
    position: absolute;
    top: 25px;
    left: -28px;
    line-height: 0;
    font-size: 88px;
    font-weight: 700;
    opacity: 0.4;
  }
  &__title {
    margin-left: 80px;
    display: block;
    width: 70%;
    font-size: 20px;
    font-weight: 700;
  }
  &__text {
    padding-top: 17px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 300;
    &_short {
      width: 75%;
      max-width: 250px;
    }
  }
  &__icon {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 120px;
    height: 120px;
    fill: $main-icon-color;
    opacity: .3;
  }
}
/* ---------- */

/* MIXIN filter_block */
.filter {
  display: flex;
  justify-content: center;
  &__button {
    padding: 15px 22px;
    font-size: 16px;
    font-weight: 500;
    color: $main-text-color;
    background-color: transparent;
    border: 1px solid transparent;
    &_inactive {
      border-bottom: 1px solid $main-text-color;
    }
    &_active {
      background-color: $action-color;
      -webkit-border-radius: 5px 5px 5px 0;
      -moz-border-radius: 5px 5px 5px 0;
      border-radius: 5px 5px 5px 0;
    }
  }
}
/* ------------------ */

/* MIXIN select_box */
.select-box {
  position: relative;
  color: $main-text-color;
  background-color: $bg-color;
  &__selected {
    position: relative;
    margin-bottom: 20px;
    padding: 15px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: $shadow;
    cursor: pointer;
    &-icon {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 30px;
      height: 35px;
      transform: translateY(-50%);
      opacity: 0.4;
      fill: $main-text-color;
      transition: .3s;
      &_rotated {
        opacity: 1;
        transform: translateY(-50%) rotate(180deg)
      }
    }
  }
  &__list {
    position: absolute;
    z-index: 3;
    width: 100%;
    max-height: 0;
    background-color: rgba(23,23,29,0.7);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-20px);
    backdrop-filter: blur(16px);
    opacity: 0;
    transition: .3s max-height, .34s opacity;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    &_visible {
      opacity: 1;
      max-height: 300px;
    }
    &-item {
      cursor: pointer;
      padding: 15px 20px;
      border-bottom: 1px solid rgba(255px, 255px, 255px, 0.2);
      opacity: 0.4;
      transition: .3s;
      &-subtitle {
        font-size: 14px;
        font-weight: 300;
        display: block;
      }
      &-title {
        font-size: 20px;
        font-weight: 700;
      }
      &_selected {
        opacity: 1;
      }
    }
  }
}
/* ---------------- */

@import "_header";
@import "_promo";
@import "_portfolio";
@import "_info-slider";
@import "_gallery-slider";
@import "_advantages";
@import "_steps";
@import "_experience";
@import "_form";
@import "_contacts";
@import "_footer";
@import "_media";