mixin burger_menu()
    div.burger-menu
        div.burger-menu__wrap
            +navMenu([
              {anchor: "#about_me", title: "About me", isActive: false},
              {anchor: "#portfolio", title: "Portfolio", isActive: false},
              {anchor: "#advantages", title: "Why me", isActive: false},
              {anchor: "#process", title: "Process", isActive: false},
              {anchor: "#contacts", title: "Contacts", isActive: false}
            ], 'burger-menu__links')
            +button('accent_transparent', 'burger-menu__button', 'Check CV', 'link', '#')