mixin footer()
    footer.footer
        div.footer__wrap.container
            svg.logo
                use(xlink:href="./assets/images/svg/symbol/sprite.svg#logo")
            div.footer__copyright.copyright.
                vyacheslav.job@yandex.ru