mixin portfolio_section()
    section(id="portfolio").portfolio
        div.porfolio__wrap.container
            +title('My', 'finished', 'works', 'portfolio__title')
            //+filter([
            //  {isActive: false, text: 'Web sites'},
            //  {isActive: true, text: 'Web applications'}],
            //  'portfolio__filter'
            //)
            div.portfolio__sliders
                div.swiper.info-slider
                    div.info-slider__controls
                        svg.swiper-button-prev.info-slider__arrow.info-slider__arrow_prev
                            use(xlink:href="./assets/images/svg/symbol/sprite.svg#arrow")
                        ul.swiper-pagination.info-slider__dots
                            li.info-slider__dot
                            li.info-slider__dot.info-slider__dot_active
                            li.info-slider__dot
                            li.info-slider__dot
                            li.info-slider__dot
                        svg.swiper-button-next.info-slider__arrow.info-slider__arrow_next
                            use(xlink:href="./assets/images/svg/symbol/sprite.svg#arrow")
                    div.swiper-wrapper.info-slider__slides
                        div.info-slider__slide.swiper-slide
                            h4.info-slider__slide-subtitle project name
                            h3.info-slider__slide-title House Forever
                            div.info-slider__slide-block
                                p.info-slider__slide-text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, sit.
                                div.info-slider__slide-grid
                                    div.info-slider__slide-column
                                        div.info-slider__slide-grid-column-item.text_medium.
                                            Development time:
                                        div.info-slider__slide-grid-column-item.text_medium.
                                            Price:
                                    div.info-slider__slide-column
                                        div.info-slider__slide-grid-column-item.text_light.
                                            16 hours
                                        div.info-slider__slide-grid-column-item.text_light.
                                            $150
                                div.info-slider__slide-technologies
                                    div.info-slider__slide-technologies-title.
                                        Used technologies
                                    ul.info-slider__slide-technologies-list
                                        li.info-slider__slide-technologies-list-item HTML
                                        li.info-slider__slide-technologies-list-item CSS
                                        li.info-slider__slide-technologies-list-item JavaScript
                                        li.info-slider__slide-technologies-list-item Gulp
                            +button('accent_transparent', 'info-slider__slide-button', 'Contact Me', 'link', '#contacts')
                        div.info-slider__slide.swiper-slide
                            h4.info-slider__slide-subtitle project name
                            h3.info-slider__slide-title "Body" GYM
                            div.info-slider__slide-block
                                p.info-slider__slide-text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, sit.
                                div.info-slider__slide-grid
                                    div.info-slider__slide-column
                                        div.info-slider__slide-grid-column-item.text_medium.
                                            Development time:
                                        div.info-slider__slide-grid-column-item.text_medium.
                                            Price:
                                    div.info-slider__slide-column
                                        div.info-slider__slide-grid-column-item.text_light.
                                            48 hours
                                        div.info-slider__slide-grid-column-item.text_light.
                                            $270
                                div.info-slider__slide-technologies
                                    div.info-slider__slide-technologies-title.
                                        Used technologies
                                    ul.info-slider__slide-technologies-list
                                        li.info-slider__slide-technologies-list-item HTML
                                        li.info-slider__slide-technologies-list-item CSS
                                        li.info-slider__slide-technologies-list-item JavaScript
                                        li.info-slider__slide-technologies-list-item Gulp
                            +button('accent_transparent', 'info-slider__slide-button', 'Contact Me', 'link', '#contacts')
                div.swiper.gallery__slider
                    div.swiper-wrapper
                        div.gallery__slide.swiper-slide
                            picture.gallery__slide-img
                                source(srcset="./assets/images/webp/project_preview.webp" type="image/webp")
                                img(src="./assets/images/project_preview.jpg" alt="preview")
                            div.gallery__slide-links
                                div.gallery__slide-links-title Open a project in:
                                nav.gallery__slide-links-list
                                    a(href="https://github.com/Parselian" target="_blank").gallery__slide-link
                                        svg.gallery__slide-link-icon
                                            use(xlink:href="./assets/images/svg/symbol/sprite.svg#github")
                        div.gallery__slide.swiper-slide
                            picture.gallery__slide-img
                                source(srcset="./assets/images/webp/project_preview.webp" type="image/webp")
                                img(src="./assets/images/project_preview.jpg" alt="preview")
                            div.gallery__slide-links
                                div.gallery__slide-links-title Open a project in:
                                nav.gallery__slide-links-list
                                    a(href="#" target="_blank").gallery__slide-link
                                        svg.gallery__slide-link-icon
                                            use(xlink:href="./assets/images/svg/symbol/sprite.svg#github")