mixin process_section()
    section(id="process").steps
        div.steps__wrap.container
            +title('How', 'do', 'I work?', 'steps__title')
            +filter([
              {
                isActive: false,
                text: 'You have design template'
              },
              {
                isActive: true,
                text: 'You have nothing'
              }
            ], 'steps__filter')
            div.steps__blocks
                +card([
                  {
                    type: 'withIcon',
                    extraClasses: 'steps__block',
                    count: '01',
                    title: 'We <span class="text_accent">detect</span> your <span class="text_accent">wishes</span>',
                    text: 'I ask some questions to you to detect which type of site you need',
                    iconId: 'search'
                  },
                  {
                    type: 'withIcon',
                    extraClasses: 'steps__block',
                    count: '02',
                    title: '<span class="text_accent">Choosing</span> a designer',
                    text: 'After first step based on your budget i choose a designer to create a template for you web-site',
                    iconId: 'brush'
                  },
                  {
                    type: 'withIcon',
                    extraClasses: 'steps__block',
                    count: '03',
                    title: '<span class="text_accent">Make</span> website',
                    text: 'When designer complete template, i will make wokred version of your website based on template',
                    iconId: 'gear'
                  },
                  {
                    type: 'withIcon',
                    extraClasses: 'steps__block',
                    count: '04',
                    title: 'You <span class="text_accent">check</span> the <span class="text_accent">results</span>',
                    text: 'You check finished site for some tiny <span class="text_accent">(you have 5 free corrections)</span>',
                    iconId: 'check'
                  },
                  {
                    type: 'withIcon',
                    extraClasses: 'steps__block',
                    count: '05',
                    title: '<span class="text_accent">Publish</span> your <span class="text_accent">site</span>',
                    text: 'When i make all fixes, we choose&buy domain name with hosting, then i publish your site and give you all access data',
                    iconId: 'globe'
                  },
                  {
                    type: 'withIcon',
                    extraClasses: 'steps__block',
                    count: '06',
                    title: '<span class="text_accent">Recommend</span> me :)',
                    text: 'If you like work with me, I will be so glad if you recommend me to your friends and leave feeedback about work with me.',
                    iconId: 'heart'
                  }
                ])
            +button('accent', 'advantages__button', 'Contact Me', 'link', '#contacts')