include ./mixins/nav_menu
include ./mixins/button
include ./mixins/blockquote
include ./mixins/social_link
include ./mixins/title
include ./mixins/card
include ./mixins/filter_block

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, " +
        "minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./assets/css/reset.css" rel="stylesheet")
        link(href="./assets/css/main.css" rel="stylesheet")
        script(src="./assets/scripts/main.js")
    body
        section.header
            div.header__wrap.container
                picture.logo
                    source
                    img(src="./assets/images/logo.png" alt="parselian")
                +navMenu([
                  {anchor: "#about_me", title: "About me", isActive: false},
                  {anchor: "#portfolio", title: "Portfolio", isActive: false},
                  {anchor: "#reviews", title: "Reviews", isActive: false},
                  {anchor: "#orders", title: "Order", isActive: false},
                  {anchor: "#contacts", title: "Contacts", isActive: false}
                ], 'header__menu nav-menu')
                div.header__locations
                    a.header__location(href="#") ru
                    span.header__locations-separator /
                    a.header__location.header__location_active(href="#") en
        section.promo
            div.promo__shadow-down
            div.promo__wrap.container
                picture.promo__bg
                    source(srcset="" type="image/webp")
                    img(src="./assets/images/promo-bg.jpg" alt="background")
                div.promo__descr.promo__col
                    h1.promo__title <span class="line-break">Create sites and</span> web applications
                    div.promo__subtitle Frontend developer. I`m create web sites <br /> and applications for 3 years
                    div.promo__buttons
                        +button('accent', 'promo__button', 'Contact Me')
                        +button('transparent', 'promo__button', 'See portfolio')
                    +blockquote('promo__blockquote',
                      `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A laboriosam nam quam repellendus,
                      voluptates voluptatum.`)
                div.promo__about.promo__col
                    picture.promo__img
                        source(srcset="./assets/images/webp/promo-img.webp" type="image/webp")
                        img(src="./assets/images/promo-img.png" alt="My photo")
                    div.promo__socials
                        +social('./assets/images/svg/symbol/sprite.svg#twitter', '#',
                          ['promo__social', 'promo__social_twitter'], "twitter")
                        +social('./assets/images/svg/symbol/sprite.svg#github', '#',
                          ['promo__social', 'promo__social_github'], "github")
                        +social('./assets/images/svg/symbol/sprite.svg#telegram', '#',
                          ['promo__social', 'promo__social_telegram'], "telegram")
                        +social('./assets/images/svg/symbol/sprite.svg#instagram', '#',
                          ['promo__social', 'promo__social_instagram'], "instagram")
                        +social('./assets/images/svg/symbol/sprite.svg#vk', '#',
                          ['promo__social', 'promo__social_vk'], "vkontakte")
        section.advantages
            div.advantages__wrap.container
                +title('Why', 'am', 'I?', 'advantages__title')
                div.advantages__cards
                    +card([
                      {
                        type: 'withoutIcon',
                        extraClasses: 'advantages__card',
                        count: '01',
                        title: `We <span class="text_accent">detect</span> your <span class="text_accent">wishes</span>`,
                        text: `I have a three year experience of creating web sites. Check my finished works below and
                                              take care of it.`,
                      },
                      {
                        type: 'withoutIcon',
                        extraClasses: 'advantages__card',
                        count: '02',
                        title: `I work <span class="text_accent">oficially</span>`,
                        text: `If you want we can make a pact of our work, so you can be sure i make my work fine and
                                              won\`t vanish with your money`,
                      },
                      {
                        type: 'withoutIcon',
                        extraClasses: 'advantages__card',
                        count: '03',
                        title: `You\`re <span class="text_accent">always aware</span>`,
                        text: `You can monitor about all my work, because i place all my project results in Trello`
                      },
                      {
                        type: 'withoutIcon',
                        extraClasses: 'advantages__card',
                        count: '04',
                        title: `I <span class="text_accent">don\`t take </span> prepayment`,
                        text: `You can monitor about all my work, because i place all my project results in Trello`
                      },
                      {
                        type: 'withoutIcon',
                        extraClasses: 'advantages__card',
                        count: '05',
                        title: `Follow <span class="text_accent">deadlines</span>`,
                        text: `You can monitor about all my work, because i place all my project results in Trello`
                      },
                      {
                        type: 'withoutIcon',
                        extraClasses: 'advantages__card',
                        count: '06',
                        title: `Work <span class="text_accent">personally</span> with every client`,
                        text: `You can monitor about all my work, because i place all my project results in Trello`
                      }
                    ])
                +button('accent', 'advantages__button', 'Contact Me')
        section.steps
            div.steps__wrap.container
                +title('How', 'do', 'I work?', 'steps__title')
                +filter([
                  {
                    isActive: false,
                    text: 'You have design template'
                  },
                  {
                    isActive: true,
                    text: 'You have nothing'
                  }
                ], 'steps__filter')
                div.steps__blocks
                    +card([
                      {
                        type: 'withIcon',
                        extraClasses: 'steps__block',
                        count: '01',
                        title: 'We <span class="text_accent">detect</span> your <span class="text_accent">wishes</span>',
                        text: 'I ask some questions to you to detect which type of site you need',
                        iconId: 'vk'
                      },
                      {
                        type: 'withIcon',
                        extraClasses: 'steps__block',
                        count: '02',
                        title: '<span class="text_accent">Choosing</span> a designer',
                        text: 'After first step based on your budget i choose a designer to create a template for you web-site',
                        iconId: 'vk'
                      },
                      {
                        type: 'withIcon',
                        extraClasses: 'steps__block',
                        count: '03',
                        title: '<span class="text_accent">Make</span> website',
                        text: 'When designer complete template, i will make wokred version of your website based on template',
                        iconId: 'vk'
                      },
                      {
                        type: 'withIcon',
                        extraClasses: 'steps__block',
                        count: '04',
                        title: 'You <span class="text_accent">check</span> the <span class="text_accent">results</span>',
                        text: 'You check finished site for some tiny <span class="text_accent">(you have 5 free corrections)</span>',
                        iconId: 'vk'
                      },
                      {
                        type: 'withIcon',
                        extraClasses: 'steps__block',
                        count: '05',
                        title: 'Buy hosting & domain <span class="text_accent">publish</span> your <span class="text_accent">site</span>',
                        text: 'When i make all fixes, we choose&buy domain name with hosting, then i publish your site and give you all access data',
                        iconId: 'vk'
                      },
                      {
                        type: 'withIcon',
                        extraClasses: 'steps__block',
                        count: '06',
                        title: 'You <span class="text_accent">write</span> a good <span class="text_accent">review</span> and <span class="text_accent">recommend me</span> :)',
                        text: 'When i make all fixes, we choose&buy domain name with hosting, then i publish your site and give you all access data',
                        iconId: 'vk'
                      }
                    ])
                +button('accent', 'advantages__button', 'Contact Me')
        section.portfolio
            div.porfolio__wrap
                +title('My', 'finished', 'works', 'portfolio__title')
                +filter([
                  {isActive: false, text:'Web sites'},
                  {isActive: true, text: 'Web applications'}],
                  'portfolio__filter'
                )
                div.portfolio__sliders
                    div.info__slider
                        div.info__slider-controls
                            svg.info__slider-arrow.info__slider-arrow_prev
                                use(xlink:href="./assets/images/svg/symbol#")
                            ul.info__slider-dots
                                li.info__slider-dot
                                li.info__slider-dot.info__slider-dot_active
                                li.info__slider-dot
                                li.info__slider-dot
                            svg.info__slider-arrow.info__slider-arrow_next
                                use(xlink:href="./assets/images/svg/symbol#")
                        div.info__slides
                            div.info__slide
                                h4.info__slide-subtitle project name
                                h3.info__slide-title House Forever
                                div.info__slide-block
                                    p.info__slide-text.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, sit.
                                    ul.info__slide-list //Made this part with CSS-grid
                                        li.info__slide-list-item
                                            span.text_bold
                                    div.info__slide-technologies
                                        div.info__slide-tecnhologies-title.
                                            Used technologies
                                        ul.info__slide-technologies-list
                                            li.info__slide-technologies-list-item HTML
                                            li.info__slide-technologies-list-item CSS
                                            li.info__slide-technologies-list-item JavaScript
                                            li.info__slide-technologies-list-item Gulp


                    div.gallery__slider
