.catalog {
  &__card {
    &s {
      display: flex;
      flex-wrap: wrap;
    }
    padding: 10px;
    width: 24.23%;
    min-width: 220px;
    border: 1px solid $border-color;
    &:not(:nth-child(4n)) {
      margin-right: 1%;
    }
    &-img {
      margin-bottom: 10px;
      width: 100%;
      object-fit: cover;
    }
    &-title {
      margin-bottom: 10px;
      display: block;
      font-size: 16px;
      color: $search-input-color;
      text-decoration: none;
    }
    &-row {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
    &-price, &-wholesale {
      display: block;
    }
    &-price {
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
    }
    &-wholesale {
      font-size: 13px;
      font-weight: 400;
    }
    &-availability {
      text-transform: uppercase;
      color: $accent-catalog-color;
      font-size: 10px;
      &-stock {
        font-weight: 700;
      }
    }
    &-quantity {
      margin-bottom: 0;
      margin-right: 25px;
      width: 31px;
      height: 40px;
      //border: 1px solid $border-color;
    }
    &-btn {
      &s {
        display: flex;
        align-items: center;
      }
      display: flex;
      align-items: center;
      height: 36px;
      font-size: 13px;
      font-weight: 600;
      &_cart {
        margin-right: 10px;
        padding: 5px 15px;
        width: 60%;
        justify-content: center;
        color: $alt-text-color;
        background-color: $accent-catalog-color;
        fill: $alt-text-color;
      }
      &_now {
        text-decoration: none;
        text-align: center;
        line-height: 1;
        padding: 7px 15px;
        color: $search-input-color;
        background-color: $inactive-color;
        svg {
          display: none;
        }
      }
      &-icon {
        margin-right: 4px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__more {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $alt-text-color;
    background-color: #000000;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
    &-text {
      margin-left: 10px;
      font-size: 16px;
    }
  }

  &__pagination {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-arrow, &-dot {
      color: $search-input-color;
      text-decoration: none;
    }
    &-arrow {
      font-size: 16px;
      text-transform: uppercase;
    }
    &-prev {
      margin-right: 20px;
    }
    &-next {
      margin-left: 20px;
    }
    &-dot {
      &s {
        max-width: 260px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }
      padding: 10px 14px;
      line-height: 1;
      border: 1px solid $border-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &_active {
        color: $alt-text-color;
        border-color: $alt-text-color;
        background-color: $search-input-color;
      }
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}