.notfound {
  padding-top: 40px;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__img {
    margin-right: 60px;
    width: 100%;
    max-width: 300px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 30px;
    font-size: 20px;
    color: $inactive-color;
  }
  &__link {
    font-size: 18px;
    color: $main-text-color;
  }
}