$bg-accent-color: #000;
$alt-bg-color: #f2f2f2;

$main-text-color: #000;
$alt-text-color: #fff;
$inactive-color: #e1e1e1;
$search-input-color: #555555;

$footer-bg-color: #99dedf;
$footer-alt-bg-color: #1c1c1c;

$border-color: #c4c4c4;

$accent-catalog-color: #008081;